In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split

In [7]:
from sklearn.datasets import load_iris

In [8]:
df = load_iris()

In [9]:
type(df)

sklearn.utils._bunch.Bunch

In [14]:
df.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [15]:
df['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [16]:
df['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [17]:
iris_df = pd.DataFrame(data = df['data'], columns = df['feature_names'])

In [18]:
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [19]:
iris_df['Iris type'] = df['target']

In [24]:
iris_df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Iris type,Iris name
96,5.7,2.9,4.2,1.3,1,versicolor
93,5.0,2.3,3.3,1.0,1,versicolor
100,6.3,3.3,6.0,2.5,2,virginica
102,7.1,3.0,5.9,2.1,2,virginica
107,7.3,2.9,6.3,1.8,2,virginica

In [30]:
def f(x):
    if x == 0:
        val = 'setosa'
    elif x == 1:
        val = 'versicolor'
    else:
        val = 'virginica'
    return val

In [47]:
iris_df.sample(6)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Iris type,Iris name
79,5.7,2.6,3.5,1.0,1,versicolor
54,6.5,2.8,4.6,1.5,1,versicolor
144,6.7,3.3,5.7,2.5,2,virginica
89,5.5,2.5,4.0,1.3,1,versicolor
114,5.8,2.8,5.1,2.4,2,virginica
58,6.6,2.9,4.6,1.3,1,versicolor

In [85]:
iris_df = iris_df.drop('Iris type', axis=1)

In [86]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   Iris name          150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [87]:
iris_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [88]:
iris_df.groupby(['Iris name']).describe()

           sepal length (cm)                                              \
                       count   mean       std  min    25%  50%  75%  max
Iris name
sentosa                 50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor              50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica               50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal width (cm)         ... petal length (cm)       \
                      count   mean  ...               75%  max
Iris name                           ...
sentosa                50.0  3.428  ...             1.575  1.9
versicolor             50.0  2.770  ...             4.600  5.1
virginica              50.0  2.974  ...             5.875  6.9

           petal width (cm)
                      count   mean       std  min  25%  50%  75%  max
Iris name
sentosa                50.0  0.246  0.105386  0.1  0.2  0.2  0.3  0.6
versicolor             50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
virginica              50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [89]:
from sklearn.model_selection import train_test_split

In [90]:
X = iris_df.drop('Iris name', axis=1)
y = iris_df['Iris name']

In [91]:
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [111]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05)

In [112]:
model = LogisticRegression()

In [113]:
model.fit(X_train, y_train)

LogisticRegression()

In [114]:
y_pred = model.predict(X_test)

In [115]:
X_test

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
64                 5.6               2.9                3.6               1.3
61                 5.9               3.0                4.2               1.5
143                6.8               3.2                5.9               2.3
148                6.2               3.4                5.4               2.3
56                 6.3               3.3                4.7               1.6
49                 5.0               3.3                1.4               0.2
6                  4.6               3.4                1.4               0.3
122                7.7               2.8                6.7               2.0

In [116]:
y_train

126     virginica
97     versicolor
47        sentosa
46        sentosa
22        sentosa
          ...
16        sentosa
106     virginica
129     virginica
132     virginica
138     virginica
Name: Iris name, Length: 142, dtype: object

In [117]:
y_pred

array(['versicolor', 'versicolor', 'virginica', 'virginica', 'versicolor',
       'sentosa', 'sentosa', 'virginica'], dtype=object)

In [118]:
y_test

64     versicolor
61     versicolor
143     virginica
148     virginica
56     versicolor
49        sentosa
6         sentosa
122     virginica
Name: Iris name, dtype: object

In [119]:
accuracy_score(y_test,y_pred)

1.0

In [120]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

     sentosa       1.00      1.00      1.00         2
  versicolor       1.00      1.00      1.00         3
   virginica       1.00      1.00      1.00         3

    accuracy                           1.00         8
   macro avg       1.00      1.00      1.00         8
weighted avg       1.00      1.00      1.00         8

In [121]:
model.predict([[7,5,6,2]])

C:\Users\ASL\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['virginica'], dtype=object)

In [122]:
model.predict([[5,5,5,5]])

C:\Users\ASL\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['virginica'], dtype=object)

In [123]:
model.predict([[2,2,2,2]])

C:\Users\ASL\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['sentosa'], dtype=object)

In [124]:
model.predict([[7,7,2,2]])

C:\Users\ASL\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['sentosa'], dtype=object)

In [125]:
model.predict([[1,2,3,4]])

C:\Users\ASL\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['virginica'], dtype=object)

In [126]:
model.predict([[4,3,2,1]])

C:\Users\ASL\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['sentosa'], dtype=object)

In [127]:
model.predict([[6,3,4,1]])

C:\Users\ASL\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['versicolor'], dtype=object)